.booking-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('../assets/bg.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .Booking-mainbody{
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto; 
  background-image: url('../assets/burst.jpg');
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #6d6d6d;
  }
  
  
  
  @media screen and (max-width: 600px) {
    .booking-form-container {
      padding: 10px;
    }
  }
  