

.faq-container {
    width: 100%;

    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    animation: fadeInAnimation 2s ease-in-out;

}
  
  .faq-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .faq-list {
    display: flex;
    flex-direction: column;
  }
  
  .faq-item {
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .question {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .answer {
    color: #555;
  }
  
  .faq-container a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  .faq-container a:hover {
    background-color: #0056b3;
  }
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }