@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

:root{
--color: #ffffff; 
}

body {
  font-family: 'Red Hat Text', sans-serif;
  scroll-behavior: smooth;
}

.container {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/bakebg.jpg');

  background-size: cover;
  background-position: center;
  
  background-attachment: fixed;
  animation: fadeInAnimation 2s ease-in-out;

}

.HomePage h1 {
    color:rgb(27, 27, 27);
  font-weight: 700;
  font-size: 3rem;
}
.para-container{
  color:#ffffff;
}
.HomePage p {
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
}

.is {
  display: inline-block;
  padding: 1em 3.5em;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: .5px;
  font-size: .875rem;
  margin-bottom: 2rem;
}
.smooth-scroll{
  display: inline-block;
  padding: 1em 3.5em;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: .5px;
  font-size: .875rem;
  margin-bottom: 2rem;
}
.other {
  width: 100%;
  min-height: 60vh;
  background-color: var(--color);
}

.second {
  background-image:url('../assets/bw.jpg');
  
  background-attachment: fixed;
  height: 1200px;
}

.HomePage h3 {
    color:rgb(0, 0, 0);
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
}

.card > a {
  margin-bottom: 2em;
}

.item {
  display: flex;
  max-width: 320px;
  background-color: rgb(255, 255, 255);;
  flex-direction: column;
  align-items: center;
  border-radius: .5em;
  -webkit-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
  box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
}

.img {
  width: 90%;
  height: 200px;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: .3em;;
}

.img-first {
  background-image: url('../assets/1.svg');
}

.img-second {
  background-image: url('../assets/burst.jpg');
}

.img-third {
  background-image: url('../assets/girl.jpg');
}

.second {
  flex-direction: row;
  gap: 1.6em;
}
@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.smooth-scroll:hover,
.is:hover {
  background-color: #6c6c6c;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}




