.info-mainname {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    perspective: clamp(400px, 100vw, 1000px);
  }
  


  
  .gallery {
    display: flex;
    gap: 1vw;
    max-width: 1200px;
    min-width: 500px;
    height: 100vh;
    transform: translate(5%, -25%) rotate(-6deg) rotateX(10deg) rotateY(20deg);
  }
  
  .gallery_line {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    height: fit-content;
    animation: slide 30s linear infinite;
  }
  
  .gallery_line:nth-child(2) {
    animation-direction: reverse;
  }
  
  .gallery_line img {
    flex: 1 1 auto;
    width: 100%;
    object-fit: cover;
  }
  
  @keyframes slide {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50%); }
  }
  
  
  .Me {
    position: fixed;
    z-index: 15;
    bottom: 20px;
    left: 50%;
    color: #111;
    transform: translateX(-50%);
    font-weight: 700;
    text-align: center;
    opacity: 0.7;
  }