.terms-container {
    color: aliceblue;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .terms-heading {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .terms-content {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .terms-content h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  