.welcome-container {
  position: relative;
  width: 100vw; 
  height: 100vh; 
  overflow: hidden;
}
body{
  background-color: #060606;
}
.bg-vid {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 70%;
  width: 100%;
  filter: grayscale(100%);
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease; 
}

.welcome-text {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px; 
  color: #ffffff;
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #656261;
}

.welcome-container.loaded .content {
  opacity: 1;
}
