/* AdminLogin.css */

.admin-login-body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto; 
    background-image: url('../assets/bw.jpg');
  }
  
  .admin-containers {
    display:flex;
    align-items: center;
    height: 100vh;
    padding-right:100px;
    justify-content: center; 
    animation: fadeInAnimation 1s ease-in-out;
  }
  
  .admin-login-form {
    background-image: url('../assets/bg.jpg');
    filter: grayscale();
    background-color: #858585;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 90%;
    text-align: center;
    animation: fadeInAnimation 1s ease-in-out;
  }
  /* Add rest of the styles as needed */
  